[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dendrometry"]
	path = dendrometry
	url = https://github.com/narcisstar/dendrometry
